<% layout('layouts/boilerplate.ejs') -%>
<br>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
    <h3 class="mb-4 text-center">Create a New Listing</h3>
    <form method="POST" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label"><strong>Title:</strong></label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" id="title" required/>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a title.
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label"><strong>Description:</strong></label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control" id="description" required></textarea>  
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a description.
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"><strong>Upload Listing Image:</strong></label>
        <input name="listing[image]" type="file" id="image" class="form-control" required/>  
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    
      <div class="mb-3">
        <label for="price" class="form-label"><strong>Price:</strong></label>
        <input name="listing[price]" placeholder="Enter price"  id="price" class="form-control" required/>  
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          Please provide a Price.
        </div>
      </div>
      
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="country" class="form-label"><strong>Country:</strong></label>
          <input name="listing[country]" placeholder="Enter country" type="text" id="country" class="form-control" required/>  
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid country.
          </div>
        </div>
        
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label"><strong>Location:</strong></label>
          <input name="listing[location]" placeholder="Enter location" type="text" id="location" class="form-control" required/>   
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide a valid location.
          </div>
        </div>
      </div>
      
      <button class="btn btn-dark add-btn">Add</button>
      <br><br>
    </form>
  </div>
</div>
</body>