.slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: opacity 0.5s;
}

.slide img {
    width: 100%;
    display: block;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.control:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #333;
}

@media screen and (max-width:430px) {
    .control{
        display: none;
    }
}
